/* following are the color for the light(default) theme */
:root {
    --bg-color: rgb(255, 255, 255);
    --primary-color: rgb(3, 150, 12);
    --secondary-color: rgb(20, 198, 157);
    --font-color: rgb(0,0,0);
    --heading-color: rgb(1, 77, 0);
    --ancor-color: white;

}
/* following are the color for dark theme */
[data-theme="dark"] {
     --bg-color: rgb(14, 10, 10);
     --primary-color: rgb(128, 124, 118);
    --secondary-color: rgba(122, 122, 122, 0.587);
    --font-color: rgb(255, 255, 255);
    --heading-color: rgb(224, 199, 199);
    --ancor-color: black;
 }

 body {
    background-color: var(--bg-color);
}
button {
    background-color: var(--primary-color)
}
p {
    color: var(--font-color)
}
a {
    color: var(--ancor-color);
}
h1{
    color: var(--heading-color)
}
article{
    background-color: var(--secondary-color) ;
}
/* this will align the whole nav element in center and given the padding */
nav {
    background-color: var(--heading-color);
    padding: 10px;
    text-align: center;
    color: var(--ancor-color);
}
/* this will keep the desplay as none for other images than default */
#img2,#img3,#img4,#img5 {
    display: none;
}