:root {
    --bg-color: rgb(255, 255, 255);
    --primary-color: rgb(3, 150, 12);
    --secondary-color: rgb(20, 198, 157);
    --font-color: rgb(0,0,0);
    --heading-color: rgb(187, 84, 0);

}

[data-theme="dark"] {
     --bg-color: rgb(112, 109, 109);
     --primary-color: rgb(249, 230, 207);
    --secondary-color: rgb(187, 125, 187);
    --font-color: rgb(255, 255, 255);
    --heading-color: rgb(0, 0, 0);
 }

 body {
    background-color: var(--bg-color);
}
button {
    background-color: var(--primary-color)
}
p {
    color: var(--font-color)
}
h1{
    color: var(--heading-color)
}
article{
    background-color: var(--secondary-color) ;
}