:root {
    --bg-color: rgb(255, 255, 255);
    --primary-color: rgb(3, 150, 12);
    --secondary-color: rgb(20, 198, 157);
    --font-color: rgb(0,0,0);
    --heading-color: rgb(1, 77, 0);

}

[data-theme="dark"] {
     --bg-color: rgb(14, 10, 10);
     --primary-color: rgb(128, 124, 118);
    --secondary-color: rgba(92, 79, 92, 0.979);
    --font-color: rgb(255, 255, 255);
    --heading-color: rgb(224, 199, 199);
 }

 body {
    background-color: var(--bg-color);
}
button {
    background-color: var(--primary-color)
}
p, a {
    color: var(--font-color)
}
h1{
    color: var(--heading-color)
}
article{
    background-color: var(--secondary-color) ;
}

#img2,#img3,#img4,#img5 {
    display: none;
}